<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProjectListLocation" value="perh_csproj2.txt"/>
    <add key="ProjectsToInvestigate" value="included projects.txt"/>
    <add key="KnownSolutions" value="known solutions2.txt"/>
    <add key="AssemblyLocations" value="Assembly locations.txt"/>
    <add key="VcsRootFolder" value="E:\Projects\ProjectName\"/>
  </appSettings>
</configuration>